
@{
//Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Welcome to NagaCRUD Website</h1>
<br/>
<br />
    <h3>@ViewBag.Greeting</h3>
    <h3>@ViewData["Greeting1"]</h3>
    <h3>@TempData["Greeting"]</h3>
</body>
</html>
